.container{
  margin-bottom: 15px;
}
.navbar-brand img{
  height: 40px;
  width: 40px;
}
.middle-name{
  opacity: 30%;
  color: bisque;
}
.bg-color{
  background-color: #EAEFF1;
  border-radius: 10px;
  padding: 20px 200px;
}

.price{
  color: #D2001A;
}
.Buy-Now-Button{
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border-radius: 8%;
  padding: 9px 25px;
  cursor: pointer;
}
.categories img{
  width: 120px;
}
/*t-shirt, bag, cap*/
.cat1{background-color: wheat; border-radius: 10px; padding: 20px 30px 20px 40px;}
.cat2{background-color: olivedrab; border-radius: 10px; padding: 20px 0px 20px 10px;}
.cat3{background-color: lightblue; border-radius: 10px; padding: 20px 30px 20px 40px;}



/*3rd row(t-shirt)*/
.card{
  border: none;
  box-shadow: 5px 5px 20px lightgray;
}
.card img{
  height: 350px;
}
/*Backpack section*/
.bag-img img{
  height: 350px;
  
}
/*Cap section*/
.Cap-img img{
  height: 350px}

  .img-size img{
    height: 115px;
  }
 
  